@import "../../variables";

.topNavBar__container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  border-width: 3px;
  border-color: black;
  flex-grow: 1;


}

.topNavBar__logo{
  font-family: "raleway-thin", serif;
}

.topNavBar__phoneNumber{
  font-family: "airbnb-light", serif;
}

.topNavbar__down_transition{
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.topNavbar__up_transition{}


.topNavBar__logo_divider{
  background-color: whitesmoke;
  opacity: 1;
  width:1px;
  height:100%;
  border: 1px solid black;
}

.topNavBar__logo_logo{
  font-family: "raleway-thin", serif;
  font-weight: lighter;
  margin-left: 5px;
  letter-spacing: 2px;
}
