@import "../../variables";

//$primary-primary: "#445963";
//$primary-light: "#708690";
//$primary-dark: "#1b3039";
//$secondary-primary: "#f48fb1";
//$secondary-light: "#ffc1e3";
//$secondary-dark: "#bf5f82";

.footer_link {
  font-family: "raleway-regular", serif;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 5px 0;
  margin: 0 12px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
  color: #445963;
}
.footer_link:hover {
  color: #1b3039;
}
.footer_link:focus, .footer_link:active {
  color: #1b3039;
}

.footer_link::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: #f5f5f5;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.footer_link:active::before {
  background-color: #f5f5f5;
}

.footer_link:hover::before,
.footer_link:focus::before {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}