body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "source-sans-pro-regular";
  src: url("./resources/fonts/SourceSansPro-Regular.ttf") format("truetype") ;
}

@font-face {
  font-family: "source-sans-pro-bold";
  src: url("./resources/fonts/SourceSansPro-Bold.ttf") format("truetype") ;
}

@font-face {
  font-family: "source-sans-pro-semibold";
  src: url("./resources/fonts/SourceSansPro-SemiBold.ttf") format("truetype") ;
}

@font-face {
  font-family: "airbnb-light";
  src: url("./resources/fonts/AirbnbCereal-Light.ttf") format("truetype") ;
}

@font-face {
  font-family: "airbnb-black";
  src: url("./resources/fonts/AirbnbCereal-Black.ttf") format("truetype") ;
}

@font-face {
  font-family: "airbnb-book";
  src: url("./resources/fonts/AirbnbCereal-Book.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-thin";
  src: url("./resources/fonts/Raleway-Light.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-regular";
  src: url("./resources/fonts/Raleway-Regular.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-italic";
  src: url("./resources/fonts/Raleway-Italic.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-bold-italic";
  src: url("./resources/fonts/Raleway-BoldItalic.ttf") format("truetype") ;
}

@font-face {
  font-family: "scope-one-regular";
  src: url("./resources/fonts/ScopeOne-Regular.ttf") format("truetype") ;
}






