$mobile-break: 600px;
$nav-height: 60px;
$tablet-break: 960px;
$large-tablet-break: 1280px;

@font-face {
  font-family: "source-sans-pro-regular";
  src: url("./resources/fonts/SourceSansPro-Regular.ttf") format("truetype") ;
}

@font-face {
  font-family: "source-sans-pro-bold";
  src: url("./resources/fonts/SourceSansPro-Bold.ttf") format("truetype") ;
}

@font-face {
  font-family: "source-sans-pro-semibold";
  src: url("./resources/fonts/SourceSansPro-SemiBold.ttf") format("truetype") ;
}

@font-face {
  font-family: "airbnb-light";
  src: url("./resources/fonts/AirbnbCereal-Light.ttf") format("truetype") ;
}

@font-face {
  font-family: "airbnb-black";
  src: url("./resources/fonts/AirbnbCereal-Black.ttf") format("truetype") ;
}

@font-face {
  font-family: "airbnb-book";
  src: url("./resources/fonts/AirbnbCereal-Book.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-thin";
  src: url("./resources/fonts/Raleway-Light.ttf") format("truetype") ;
}


@font-face {
  font-family: "raleway-regular";
  src: url("./resources/fonts/Raleway-Regular.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-italic";
  src: url("./resources/fonts/Raleway-Italic.ttf") format("truetype") ;
}

@font-face {
  font-family: "raleway-bold-italic";
  src: url("./resources/fonts/Raleway-BoldItalic.ttf") format("truetype") ;
}


@font-face {
  font-family: "scope-one-regular";
  src: url("./resources/fonts/ScopeOne-Regular.ttf") format("truetype") ;
}


